html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}

content {
  height: 100%;
  width: 80%;
  float: left;
  background-color: #FFFFFF;
}

.content-top {
  width: 100%;
  min-height: 50px;
  background-color: #3F51B5;
  color: #FFFFFF;
}

aside {
  width: 20%;
  float: left;
  height: 87%;
}

.side-top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #303F9F;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.logo {
  width: auto;
  margin: 15px;
}

.chepp {
  font-style: italic;
}

.channel-tabs {
  width: auto;
}

.channel-boxes {
  clear: both;
  height: 86%;
  width: 100%;
  overflow: scroll;
}

.channel-box {
  display: none;
}

.channel-box.active {
  display: block;
}

.channel-tab {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  background-color: #303F9F;
  vertical-align: top;
}

.channel-tab:hover,
.channel-tab.active {
  border-top: 2px solid #FF9800;
  padding-top: 7px;
}

.message {
  margin: 1em 2em;
}

.message.status {
  color: #727272;
  font-style: italic;
}

.message .sender {
  display: inline-block;
  width: 15%;
  color: #FF9800;
  text-align: right;
  margin: 0 15px;
}

.message.self .sender {
  color: #3F51B5;
}

.message .text {
  display: inline-block;
  width: 79%;
}

.user-box {
  height: 100%;
  border-left: 1px solid #B6B6B6;
  overflow: scroll;
  display: none;
}

.user-box.active {
  display: block;
}

.user-box .user {
  padding: 10px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 36px;
  border-top: 1px solid #B6B6B6;
}

footer .name {
  width: 15%;
  height: 36px;
  line-height: 36px;
  background-color: #303F9F;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

footer input {
  width: 84%;
  height: 36px;
  border: none;
  padding: 0 0 0 5px;
}
