<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CheppIRC</title>
  <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>
<body>

<header>
</header>

<content>
  <span id="session" data-id="{{.Uuid}}"></span>

  <div class="content-top">
    <div class="logo inline">
      <span class="chepp">Chepp</span><span class="irc">IRC</span>
    </div>

    <div class="channel-tabs inline">
      {{range $target, $infos := .Targets}}
      <div class="channel-tab {{$target}}-channel" data-channel="{{$target}}"> {{$target}}</div>
      {{end}}
    </div>
  </div>

  <div class="channel-boxes">
    {{range $targets := .Targets}}
    <div class="channel-box {{.Name}}-channel">
      {{range $message := .Messages}}
      {{if ne .Mtype "hidden"}}
      <div class="message {{.Mtype}}">
        <div class="sender">
          {{if .Sender}}
          {{.Sender}}
          {{end}}
        </div>
        <div class="text">{{.Text}}</div>
      </div>
      {{end}}
      {{end}}
    </div>
    {{end}}
  </div>
</content>

<aside>
  <div class="side-top">Users</div>
  <div class="user-box">
    {{range $target, $users := .Users}}
    <div class="{{$target}}-channel">
      {{range $nick, $info := $users}}
      <div class="user">{{$nick}}</div>
      {{end}}
    </div>
    {{end}}
  </div>
</aside>

<footer>
  <div class="name inline">{{.Nick}}</div>
  {{if .Users}}
  <input id= "message-input" type="text" name="text" class="text inline"
         placeholder="Type text here..."/>
  {{else}}
  <input id= "message-input" type="text" name="text" class="text inline"
         placeholder="Connecting..." disabled="disabled"/>
  {{end}}
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
</body>
</html>
