<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login to a chat server</title>
	  <link rel="stylesheet" type="text/css" href="/css/login.css">
	</head>
	<body>
		<div class="container">
			<h1><span class="chepp">Chepp</span><span class="irc">IRC</span></h1>
			<p id="status-box">&nbsp;</p>
			<form id="connect-form">
				<input id="nick" name="nick" label="nick" placeholder="Nickname"><br/>
				<input id="channel" name="channel" label="channel" placeholder="Channel"><br/>
				<h3>Server and network</h3>
				<input id="server" name="server" label="server" placeholder="Server"><br/>
				<input id="port" name="port" label="port" placeholder="Port"><br/>
				<input id="ssl" type="checkbox" label="SSL" name="ssl"><label for="ssl">SSL</label><br/>
				<input id="connect" type="button" value="Connect" name="connect">
			</form>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
	</body>
</html>

